.bgr{
    background-color: rgba(233, 113, 70, 0.979);
    height: 50px;
}
.bd{
    background-color: rgba(0, 0, 0, 0.856);
    height: 55px;
}
.checked {
    color: orange;
}
.cl{
    color: rgba(231, 22, 22, 0.849);
    
}
.fs{
    font-size:100%;
}